.DS_Store
pbf_files/
*.pyc
__pycache__/
*.log
*.db
*.sqlite3
*.egg-info/
*.env
*.venv
*.vscode/
*.idea/
*.egg
*.pyo
*.pyd
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/                      
error_log.txt